{
  "app":{
    "name": "test",
    "defaultPage": "index.html",
    "apiRoute": "/api/v1",
    "workers": 3,
    "locations":{
      "docLocation": "C:\\react\\my-app",
      "logLocation": ""
    }
  },
  "net":{
    "ip": "127.0.0.1",
    "port": 800,
    "nagle": true,
    "nodelay": true,
    "tls":{
      "version": "1.2",
      "cert": "",
      "key": ""
    }
  },
  "store": {
    "host": "localhost",
    "port": 35317,
    "userid": "kamlesh",
    "passwd": "m@ver1ck",
    "provider": {
      "name": "mysql",
      "type": "documentStore"
    }
  } 
}